.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.app-img {
  height: 6rem;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.app-title-area {
  height: 175px;
  opacity: 0.7;
  background: linear-gradient( rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url('../images/philly-eagles-broncos-fans.jpg');
}

.app-title {
  font-size: 6rem;
  font-weight: 800;
  text-align: center;
  padding-top: 30px;
  color: black;
  opacity: 1;
}

.loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://slack-imgs.com/?c=1&url=http%3A%2F%2Fi.imgur.com%2F4Unb7.jpg");
  background-size: 100%;
  height: 100vh;
  width: 100vw;
}

.welcome-text {
  background: linear-gradient(#0e69ae, #fff);
  border: 2px solid black;
  border-radius: 30px;
  text-align: center;
  width: 30%;
  margin-bottom: 20%;
  margin-top: 13px;
}

.welcome-title {
  font-size: 3em;
  padding-bottom: 5px;
}

.welcome-button {
  width: 25%;
  height: 10%;
  border: 6px solid white;
  border-radius: 56px;
  font-size: 3em;
  color: white;
  background-color: black;
  &:hover {
    border: 6px solid black;
    color: black;
    background-color: white;
    cursor: pointer;
    transition: .2s
  }
}

.loading-image {
  width: 100%;
  justify-content: center;
  align-items: center
}

.icon-img {
  max-height: 100%;
  max-width: 100%;
}

.nav-area {
  background: url('../images/nav.jpg');
  height: 120px;
  opacity: .8;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
