.card {
  border-radius: 5px;
  width: 45vw;
  text-align: center;
  background-color: white;
  border: solid black 5px;
  box-shadow: 2px 2px 8px 1px grey;
  margin: 0 auto;
  position: absolute;
  top: 185px;
  left: 27%;
  z-index: 3;
}

.card-img {
  width: 45vw;
}

.team-info {
  padding: 10px;
}


.x-icon {
  height: 25px;
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #F16857;
  border: 2px solid #F16857;
  border-radius: 13px;
  &:hover {
    cursor: pointer;
    background-color: #fff;
    border: 2px solid #fff;
  }
}

.caret {
  cursor: pointer;
  position: absolute;
  font-size: 3em;
  margin: 5px;
  padding: 85px 5px;
  &:hover {
    color: lightblue;
  }
}

.left-caret {
  left: 0;
  top: 67%;
}

.right-caret {
  right: 0;
  top: 67%;
} 

.card-btn {
  margin: 10px auto;
  padding: 10px;
  border: 1px solid;
  border-radius: 10px;
  color: white;
  background-color: black;
  font-size: 1.5em;
  &:hover {
    color: black;
    background-color: white;
    cursor: pointer;
  }
}

a {
  color: $nfl-blue;
  &:hover {
    color: $nfl-red;
  }
}

.city-name {
  color: white;
  text-shadow:
		-2px -2px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
		2px 2px 0 #000;
  font-size: 3em;
  margin: -500px auto 455px;
}