.card {
  border-radius: 5px;
  width: 45vw;
  text-align: center;
  background-color: white;
  border: solid black 5px;
  box-shadow: 2px 2px 8px 1px grey;
  margin: 0 auto;
  position: absolute;
  top: 185px;
  z-index: 3;

}

.card-img {
  width: 45vw;
}

.team-info {
  padding: 10px;
}

.x-icon {
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  border: 1px solid greenyellow;
  border-radius: 10px;
}

.x-icon:hover {
  cursor: pointer;
}

.caret {
  cursor: pointer;
  position: absolute;
  font-size: 3em
}

.left-caret {
  left: 0;
  top: 78%
}

.right-caret {
  right: 0;
  top: 78%;
} 

.card-btn {
  margin-bottom: 10px;
}