.card {
  border-radius: 5px;
  width: 45vw;
  text-align: center;
  background-color: white;
  border: solid black 5px;
  box-shadow: 2px 2px 8px 1px grey;
  margin: 0 auto;
  position: absolute;
  top: 185px;
  left: 27%;
  z-index: 3;
}

.card-img {
  width: 45vw;
}

.team-info {
  padding: 10px;
}


.x-icon {
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #F16857;
    border: 5px solid #F16857;
    border-radius: 60px;
    &:hover {
      // opacity: .7;
      background-color: white;
      border: 5px solid white;
    }
}

.x-icon:hover {
  cursor: pointer;
}

.carot {
  cursor: pointer;
  position: absolute;
  font-size: 3em;
  margin: 5px;
  padding: 85px 5px;
  &:hover {
    color: red;
  }
}

.left-carot {
  left: 0;
  top: 67%;
}

.right-carot {
  right: 0;
  top: 67%;
} 

.card-btn {
  margin: 10px auto;
  padding: 10px;
}