.card-background {
  background-color:rgba(0,0,0,0.8);
  height: 92.5%;
  left: 0px;
  min-height: 750px;
  position: absolute;
  top: 175px;
  width: 100vw;
  z-index: 2;
}

.flex {
  background: url('../images/586928424-nfl-football-field-wallpaper.jpg');
}

.main-display {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.main-display-icon {
  align-items: center;
  min-height: 67vh;
}

.main-display-card {
  height: 80vh;
}

.search-error-message {
  color: #fff;
  font-size: 6rem;
  height: 370px;
  padding-top: 125px;
  text-align: center;
  text-shadow: 
    -3px -3px 0 #000, 
    3px -3px 0 #000, 
    -3px 3px 0 #000, 
    3px 3px 0 #000;
}