$white-outline: 
  -1px -1px 0 #fff, 
  1px -1px 0 #fff, 
  -1px 1px 0 #fff, 
  1px 1px 0 #fff;
$nfl-red: #DA2227;
$nfl-blue: #003B73;

@mixin inputStyling() {
  background-color: white;
  border: 5px solid $nfl-red;
  border-radius: 15px;
  color: $nfl-blue;
  text-shadow: $white-outline;
}

@mixin inputHoverStyling() {
  background-color: $nfl-red;
  border: 5px solid white;  
}

nav {
  align-items: center;
  display: flex;
  height: 120px;
  justify-content: center;
}

form {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

form label {
  color: $nfl-red;
  font-size: 3rem;
  font-weight: 900;
  margin: 0 -15%;
  padding-top: 8px;
  text-shadow: $white-outline;
}

input {
  @include inputStyling();
  font-size: 2rem;
  font-weight: 900;
  height: 50px;
  padding-left: 20px;
  width: 300px;
  &:hover { @include inputHoverStyling() }
  &::placeholder { color: $nfl-blue }
}

select{
  @include inputStyling();
  font-size: 1.5rem;
  font-weight: 900;
  height: 62px;
  padding: 5px;
  width: 331px;
  &:hover { @include inputHoverStyling() }
}