nav {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

form label {
  font-size: 3rem;
  font-weight: 900;
  color: #DA2227;
  text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

input {
  height: 50px;
  width: 300px;
  font-size: 2rem;
  font-weight: 900;
  color: #003B73;
  text-shadow:
		-1px -1px 0 #fff,
		1px -1px 0 #fff,
		-1px 1px 0 #fff,
		1px 1px 0 #fff;
  background-color: white;
  padding-left: 20px;
  &:hover {
    background-color: #DA2227;
    border: 5px solid white;
  }
  &::placeholder {
    color: #003B73;
  }
  border: 5px solid #DA2227;
  border-radius: 15px;
}

select{
  font-size: 1.5rem;
  font-weight: 900;
  width: 250px;
  height: 62px;
  padding: 5px;
  color: #003B73;
  text-shadow:
  -1px -1px 0 #fff,
  1px -1px 0 #fff,
  -1px 1px 0 #fff,
  1px 1px 0 #fff;
  border: 5px solid #DA2227;
  border-radius: 15px;
  background-color: white;
  &:hover {
    background-color: #DA2227;
    border: 5px solid white;
  }
}

select option { 
  color: black;
  &:first-child {
    background-color: #DA2227;
  }
}