
$_49ers-red: rgb(170,0,0);
$_49ers-gold: rgb(173,153,93);


$cardinals-black: rgb(0,0,0);
$cardinals-red: rgb(151,35,63);
$cardinals-yellow: rgb(255,182,18);


$falcons-black: rgb(0,0,0);
$falcons-grey: rgb(165, 172, 175);
$falcons-red: rgb(167,25,48);


$ravens-black: rgb(0, 0, 0);
$ravens-purple: rgb(26,25,95);
$ravens-yellow: rgb(158,124,12);


$bills-blue: rgb(0,51,141);
$bills-red: rgb(198,12,48);


$panthers-black: rgb(16,24,32);
$panthers-blue: rgb(0,133,202);
$panthers-grey: rgb(191,192,191);


$bears-blue: rgb(11,22,42);
$bears-red: rgb(200,56,3);


$bengals-black: rgb(0,0,0);
$bengals-orange: rgb(251,79,20);


$browns-brown: rgb(49,29,0);
$browns-orange: rgb(255,60,0);


$cowboys-blue: rgb(0,53,148);
$cowboys-dark-blue: rgb(0,34,68);
$cowboys-grey: rgb(134,147,151);


$broncos-blue: rgb(0,34,68);
$broncos-orange: rgb(251,79,20);


$lions-black: rgb(0,0,0);
$lions-blue: rgb(0,118,182);
$lions-grey: rgb(176,183,188);


$packers-green: rgb(24,48,40);
$packers-yellow: rgb(255,184,28);


$texans-blue: rgb(3,32,47);
$texans-red: rgb(167,25,48);


$colts-blue: rgb(0,44,95);
$colts-grey: rgb(162,170,173);


$jaguars-gold: rgb(159,121,44);
$jaguars-green: rgb(0,103,120);
$jaguars-yellow: rgb(215,162,42);


$chiefs-red: rgb(227,24,55);
$chiefs-yellow: rgb(255,184,28);


$chargers-blue: rgb(0,128,198);
$chargers-dark-blue: rgb(0,42,94);
$chargers-yellow: rgb(255,194,14);


$rams-blue: rgb(0,34,68);
$rams-bronze: rgb(134,109,75);


$dolphins-blue: rgb(0,142,151);
$dolphins-dark-blue: rgb(0,87,120);
$dolphins-orange: rgb(242,106,36);


$vikings-purple: rgb(79,38,131);
$vikings-yellow: rgb(255,198,47);


$patriots-blue: rgb(0,34,68);
$patriots-grey: rgb(176,183,188);
$patriots-red: rgb(198,12,48);


$saints-black: rgb(16,24,31);
$saints-gold: rgb(211,188,141);


$giants-blue: rgb(1,35,82);
$giants-grey: rgb(155,161,162);
$giants-red: rgb(163,13,45);


$jets-green: rgb(0,63,45);
$jets-white: rgb(255,255,255);


$raiders-black: rgb(0,0,0);
$raiders-grey: rgb(165,172,175);


$eagles-grey: rgb(165,172,175);
$eagles-green: rgb(0,76,84);
$eagles-silver: rgb(186,202,211);


$steelers-black: rgb(0,0,0);
$steelers-yellow: rgb(255,182,18);


$seahawks-blue: rgb(0,34,68);
$seahawks-green: rgb(105,190,40);
$seahawks-grey: rgb(165,172,175);


$buccaneers-black: rgb(10,10,8);
$buccaneers-grey: rgb(177,186,191);
$buccaneers-orange: rgb(255,121,0);
$buccaneers-red: rgb(213,10,10);


$titans-blue: rgb(68,149,209);
$titans-dark-blue: rgb(0,42,92);
$titans-grey: rgb(187,196,202);
$titans-red: rgb(218,33,40);


$redskins-red: rgb(63,16,16);
$redskins-yellow: rgb(255,182,18);