@import "teamColors.scss";

article {
  border: 2px solid white;
  border-radius: 15px;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)); 
  // transition: .3s all ease; 
}

article:hover {
  cursor: pointer;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.95), rgba(0, 0, 0, 0.95));
}

// .icon-img {
//   max-height: 175px;
//   max-width: 175px;
// }

.icon-img {
  height: 6rem;
}

h2 {
  font-size: 2em;

}