
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.app-title-area {
  height: 250px;
  opacity: 0.7;
  background: url('https://cdn-s3.si.com/styles/marquee_large_2x/s3/images/philly-eagles-broncos-fans.jpg?itok=1pEiQnWa');
}

.app-title {
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  padding-top: 30px;
  color: black;
  opacity: 1;
}

.loading-screen {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.loading-image {
  width: 100%;
  justify-content: center;
  align-items: center
}

img {
  max-height: 100%;
  max-width: 100%;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
