
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.app-img {
  height: 6rem;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.app-title-area {
  height: 175px;
  opacity: 0.7;
  background: linear-gradient( rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url('./images/philly-eagles-broncos-fans.jpg');
}

.app-title {
  font-size: 6rem;
  font-weight: 800;
  text-align: center;
  padding-top: 30px;
  color: black;
  opacity: 1;
}

.loading-screen {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.loading-image {
  width: 100%;
  justify-content: center;
  align-items: center
}

img {
  max-height: 100%;
  max-width: 100%;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
