.card {
  border-radius: 5px;
  height: 95vh;
  width: 55%;
  text-align: center;
  background-color: white;
  border: solid black 5px;
  box-shadow: 2px 2px 8px 1px grey;
  margin: 0 auto;
  position: absolute;
  top: 20px;
}

.card-img {
  // height: 62%;
  width: 100%
}

.team-info {
  padding: 10px;
}

.x-icon {
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
}