/** {
  box-sizing: border-box;
}*/

.main-display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.flex {
  background: url('./images/586928424-nfl-football-field-wallpaper.jpg');
}

