.main-display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.main-display-icon {
  height: 100%;
}

.main-display-card {
  height: 70vh;
}

.flex {
  background: url('./images/586928424-nfl-football-field-wallpaper.jpg');
}

