

article {
  border: 2px solid;
  border-radius: 15px;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5));  
}

article:hover {
  cursor: pointer;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.95), rgba(0, 0, 0, 0.95));
}

img {
  max-height: 175px;
  max-width: 175px;
}


h2 {
  font-size: 2em;

}
